{% extends "layout-2.html" %}

{% block title %}
    My Liberation Notes | About
{% endblock %}

{% block main %}
    <div class="about-main">
        <figure style="width: 28%">
            <img alt="Post" id="post" name="post" src="../static/post.jpg" width="100%">
        </figure>
        <div class="about-paragraph">
            <p style="font-weight: 800; font-size: 25px;">Welcome to "My Liberation Notes" Website!</p>

            <p>
                Inspired by a Korean drama called <a href="https://tv.jtbc.joins.com/myliberationnotes">"My Liberation Notes"</a>, this webpage aims for noting your own liberation journey.
            </p>

            <p>
                What is a "Liberation" means? Well, if you feel like you are on a trap or in a difficult time and
                feel like you'll never get rid of these situations, you may want to have some changes and liberate yourself.
                Once you decide to begin the journey to change and liberation, note your journey, because this may not only help you remind you of being honest, but also encourage you to be confronted to difficulties bravely.

            </p>

            <p>
                Before beginning to write your notes, please remember these 3 vital principals:<br>
                <p id="prniciple">
                    Do not pretend to be HAPPY<br>
                    Do not pretent to be HARD<br>
                    Always be HONEST to yourself<br>
                </p>
                These principles are very, very, very important for writing your own journey. It's good for you
                to remind yourself of it before you start or resume your journey.
            </p>
            <p>
                Life is a long journey with numerical difficulties. We are always on the road of liberation.
                Please feel free to visit this website again and begin to liberate yourself from other trouble.
            </p>
        </div>
    </div>
{% endblock %}