{% extends "layout-2.html" %}

{% block title %}
    My Liberation Notes | Noting
{% endblock %}

{% block main %}
    {% if judge == True %}
    <div class="alert alert-warning alert-dismissible fade show" style="text-align: center;" role="alert">
        You've <strong>Sumbitted Successfully!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}


<div class="noting">
    <form class="noting-area" action="/noting" method="post">
        <div class="noting-write">
            <div>
                <label style="font-weight: bold;">Title</label>
                <input style="border-radius: 8px;" name="title" id="title" class="title" autocomplete="off" autofocus placeholder="Your Title" type="text">
            </div>
            <div style="margin-top: 10px">
                <label style="font-weight: bold; border-radius: 16px;">Main Text</label>
                <textarea style="border-radius: 8px;" id="text-area" name="text-area"></textarea>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
    <div class="noting-help">
        <div class="noting-help-content">
            <h4>Principles:<span>&#x1F609</span></h4>
            <div>
                <p>
                    Do not pretend to be HAPPY<br>
                    Do not pretent to be HARD<br>
                    Always be HONEST to yourself<br>
                </p>
            </div>
            <div>
                <h5>Not sure how to do? <span>&#127912</span></h5>
            <p>Maybe you can ask yourself:</p>
            <ul>
                <li>What aspect do I want to liberate from?</li>
                <li>What things are trapping you?</li>
                <li>What are the reasons of it?</li>
                <li>What is the real problem of it?</li>
                <li>What do you hope for?</li>
            </ul>
            <h5>Don't worry if you cannot answer these questions</h5>
            <p>You can also start to write:</p>
            <ul>
                <li>Note of inspring things you met</li>
                <li>Emotion Note</li>
                <li>Life experience Note</li>
                <li>Observation Note</li>
                <li>In total, Note down your honesty and liberation journey!</li>
            </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}